a {
    text-decoration: none !important;
}

.align-wrap {
    display: table-cell;
    vertical-align: middle;
}

/** Header Nav Bar
**/
.site-branding {
    background-color: #ffffff;
    height: 70px;
}
.site-branding .inner {
    display: table;
    width: 100%;
}
.site-branding #branding-content .align-wrap {
    height: 70px;
}
.logo-container {
    position: absolute;
    top: 70px;
    background: #3492c6;
    width: 275px;
    z-index: 999;
    left: 0;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
}

/** Main / Primary Menu
**/
/*#primary-menu li {
    text-transform: uppercase;
    margin-right: 30px;
    font-family: 'Montserrat';
    letter-spacing: .125em;
    font-size: 12px;
}
#primary-menu li a {
    color: #050e1a;
}*/
ul#primary-menu li a {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .25em;
    color: #050e1a;
    border-bottom: 1px solid rgba(0,0,0,0.0);
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    padding: 8px 12px 14px 14px;
    display: inline-block;
    margin-right: 30px;
}

ul#primary-menu li.current-menu-item a,
ul#primary-menu li:hover a {
    color: #3492c6; 
}

ul#primary-menu li:hover a {
    -moz-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    padding-bottom: 8px;
    border-bottom-color: #3492c6; 
}



/** Tubular JS   
**/
#jumbotron-section {
    height: 400px;
    background-color: #000000;
    border-top: 10px solid #3492c6;
}
div#jumbotron-content {
    height: 400px;
    width: 100%;
    display: table;
    top: 0;
    position: absolute;
    z-index: 100;
    color: #fff;
}
#jumbotron-content .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
div#tubular-container {
    position: absolute !important;
    height: 400px !important;
    top: 0 !important;
    opacity: 0;
}
div#tubular-shield {
    height: 400px !important;
}
iframe#tubular-player {
    max-width: initial;
    top: -50% !important;
}

