a {
    text-decoration: none !important;
}

.align-wrap {
    display: table-cell;
    vertical-align: middle;
}

/** Header Nav Bar
**/
.site-branding {
    background-color: #ffffff;
    height: 70px;
}
.site-branding .inner {
    display: table;
    width: 100%;
}
.site-branding #branding-content .align-wrap {
    height: 70px;
}
.logo-container {
    position: absolute;
    top: 70px;
    width: 275px;
    z-index: 999;
    left: 0;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
}

/** Main / Primary Menu
**/
ul#primary-menu li a {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .25em;
    color: #1c1c1c;
    border-bottom: 1px solid rgba(0,0,0,0.0);
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    padding: 8px 2px 8px 2px;
    display: inline-block;
    margin-right: 30px;
}

ul#primary-menu li:hover a {
    transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    padding-bottom: 8px;
}

/** Tubular JS   
**/
#jumbotron-section {
    height: 400px;
    background-color: #000000;
}
div#jumbotron-content {
    height: 400px;
    width: 100%;
    display: table;
    top: 0;
    position: absolute;
    z-index: 100;
    color: #fff;
/*    border-top: 10px solid;*/
}
#jumbotron-content .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
div#tubular-container {
    position: absolute !important;
    height: 400px !important;
    top: 0 !important;
    opacity: 0;
}
div#tubular-shield {
    height: 400px !important;
    background-color: rgba(0,0,0,.33);
}
iframe#tubular-player {
    max-width: initial;
    top: -50% !important;
}
div#jumbotron-buttons {
    margin-top: 20px;
}
div#jumbotron-buttons a.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    color: rgba(255,255,255,.80);
    font-size: 14px;
    font-weight: 300;
    margin-left: 5px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    text-align: center;
}
div#jumbotron-buttons a.button:hover {
    color: #fff;
}
div#jumbotron-buttons a.button span {
    font-size: 20px;
    vertical-align: top;
    margin-right: 5px;
}
#jumbotron-tagline {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: 20px;
}

/** Featured Listings
**/
h2#featured-listing-heading {
    text-align: center;
    margin: 30px 0 0 0;
    padding: 20px 0;
    border-bottom: thin solid #e3e3e3;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: #3492c6;
}
.listing-tile .listing-details,
.listing-tile .listing-price, 
.listing-tile .listing-agent,
.listing-tile .listing-content {
    transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
}
ul#featured-listings {
    margin: 30px 0;
    padding: 0;
}
.listing-tile {
    background-color: #fff;
    margin: 0 10px;
}
.listing-tile img {
    width: 100%;
    height: auto;
}
.listing-tile .listing-details {
    padding: 10px 20px 20px 20px;
    border: 1px solid #e3e3e3;
}
.listing-tile:hover .listing-details {
/*    border: 1px solid #808080;*/
}
.listing-tile .listing-title {
    font-weight: 100;
    letter-spacing: -.025em;
    margin: 10px 0 10px 0;
    padding-right: 10px;
}
.listing-tile .listing-title a {
    color: #3c3c3c;
    text-decoration: none;
}
.listing-tile .listing-price {
    font-size: 20px;
    opacity: .8;
}
.listing-tile:hover .listing-price {
    opacity: 1;
}
.listing-tile .listing-meta {
    color: #cfcfcf;
    font-weight: 500;
}
.listing-tile .listing-meta .listing-agent {
    margin-top: 12px;
    border-top: 1px solid #cfcfcf;
    padding-top: 10px;
    display: inline-block;
    color: #808080;
}
.listing-tile:hover .listing-meta .listing-agent {
    border-top-color: #808080;
}
.listing-tile .listing-meta .listing-content {
    margin-top: 10px;
    font-weight: 300;
    color: #808080;
}
.listing-tile:hover .listing-meta .listing-content {
    color: #3c3c3c;
}